.sidebar {
    width: 250px;
    background: #111; /* preto */
    color: white;
    height: 100vh;
    padding: 25px;
    position: fixed;
    
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.4rem;
    color: #f97316; /* laranja */
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 18px 0;
    padding: 10px;
    font-size: 22px;
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f97316; /* laranja ao passar o mouse */
  }
  