.carousel {
    position: relative;
    width: 100%;
    color: white;

    *{
    
    }
  
    &__title {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 3rem;
      margin-left: 2rem;
    }
  
    &__container {
      display: flex;
      align-items: center;
      position: relative;
    }
  
    &__items {
      
      display: flex;
      gap: 5rem;
      overflow: hidden;
      margin: 0 3rem; // espaço para os botões
    }
  
    &__item {
      
      min-width: 270px;
      background: #111;
      border-radius: 10px;
      overflow: hidden;
      text-align: center;
      box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  
      img {
        width: 100%;
        height: 400px;
        object-fit: cover;
      }
  
      p {
        padding: 0.5rem;
      }
    }
  
    &__btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.6);
      border: none;
      border-radius: 50%;
      padding: 0.5rem;
      cursor: pointer;
      color: white;
      z-index: 2;
  
      &.left {
        left: 0;
      }
  
      &.right {
        right: 0;
      }
  
      &:hover {
        background: rgba(0, 0, 0, 0.8);
      }
    }
  }
  