.pagina-detalhes-filme {
  display: flex;
  min-height: 100vh;
  background-color: #ececec;
  color: #fff;
  font-family: "Poppins", sans-serif;

  .conteudo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;

    h1 {
      color: #ff7b00;
      font-size: 2.2rem;
      font-weight: 700;
      margin-bottom: 30px;
      text-align: center;
      text-shadow: 0 2px 6px rgba(255, 123, 0, 0.5);
    }

    .detalhes-container {
      display: flex;
      flex-direction: row;
      gap: 30px;
      background-color: #1e1e1e;
      padding: 30px;
      border-radius: 16px;
      box-shadow: 0 8px 20px rgba(255, 123, 0, 0.25);
      max-width: 900px;
      width: 100%;

      img {
        width: 300px;
        height: auto;
        border-radius: 12px;
        object-fit: cover;
        box-shadow: 0 4px 12px rgba(0,0,0,0.5);
      }

      .infos {
        display: flex;
        flex-direction: column;
        gap: 15px;
        flex: 1;
       
        strong{
          color: #ff7b00;
        }
        p {
          font-size: 1.05rem;
          line-height: 1.5;
        }
      }
    }
  }
}

/* Responsivo */
@media (max-width: 768px) {
  .pagina-detalhes-filme .conteudo .detalhes-container {
    flex-direction: column;
    align-items: center;

    img {
      width: 80%;
    }

    .infos {
      width: 100%;
    }
  }
}
