.movies-page {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    height: 100vh;
  
    .filtros {
      display: flex;
      justify-content: center;
      padding: 2rem;
  
      input {
        padding: 0.7rem 1rem;
        border-radius: 8px;
        border: none;
        font-size: 1rem;
        outline: none;
        width: 300px;
      }
    }
  
    .catalogo {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      gap: 2.5rem;
      padding: 2rem 5%;
  
      .card-filme {
        background-color: #1a1a1a;
        border-radius: 12px;
        overflow: hidden;
        cursor: pointer;
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
  
        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 8px 20px rgba(255, 103, 0, 0.5);
        }
  
        img {
          width: 100%;
          height: 350px; // altura fixa
          object-fit: cover; // mantém proporção e evita distorção
          object-position: center;
        }
  
        h3 {
          margin: 1rem 0;
          color: #ff6700;
          font-size: 1.1rem;
        }
      }
  
      .sem-filmes {
        grid-column: 1 / -1;
        text-align: center;
        font-size: 1.2rem;
        color: #ff6700;
      }
    }
  }
  