.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background: #111;
    color: #fff;
  
    .logo {
      font-size: 1.5rem;
      font-weight: bold;
    }
  
    .nav-links {
      display: flex;
      gap: 20px;
  
      a {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
  
        &:hover {
          color: #f39c12;
        }
      }
    }
  
    .admin-icon {
      a {
        color: #fff;
        transition: 0.3s;
        text-decoration: none;
  
        &:hover {
          color: #f39c12;
        }
      }

      
    }
  }
  