.container {
    display: flex;
  }
  
  .main {
    margin-left: 220px;
    width: 100%;
    background: #f3f3f3;
    min-height: 100vh;
    padding-top: 60px;
  }

  .form-pesquisa {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
  
    input {
      width: 300px;
      padding: 8px 12px;
      border: 1px solid #ccc;
      border-radius: 4px 0 0 4px;
      font-size: 18px;
      outline: none;
      transition: border-color 0.2s;
  
      &:focus {
        border-color: #f97316;
      }
    }
  
    button {
      padding: 12px 12px;
      border: 1px solid #f97316;
      background-color: #f97316;
      color: #fff;
      border-radius: 0 4px 4px 0;
      cursor: pointer;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.2s;
  
      &:hover {
        background-color: #f97316;
      }
  
      svg {
        margin-left: 2px;
      }
    }
  }
  
  .table-container {
    background: white;
    padding: 40px;
    border-radius: 14px;
    margin: 0 auto;
    width: 90%;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.35);
  }
  
  .table-container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 26px;
    color: #111;
  }
  
  .table-container table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
  }
  
  .table-container th,
  .table-container td {
    padding: 14px;
    text-align: left;
    border-bottom: 1px solid #000000;
    color: black;
  }
  
  .table-container th {
    background: #f97316;
    color: white;
  }
  
  .table-container tr:hover {
    background: #dadada;
  }
  
  .acoes {
    display: flex;
    gap: 10px;
  }
  
  .acoes button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
  }
  
  .editar {
    color: #007bff;
  }
  
  .deletar {
    color: #e53935;
  }
  
  .editar:hover {
    color: #0056b3;
  }
  
  .deletar:hover {
    color: #c62828;
  }
  